# 1
x = 3 ----> floata çevirelim. Çevirdikten sonra beri tipinide yazdıralım.

y = 4.5 -----> integere çevirelim. Çevirdikten sonra beri tipinide yazdıralım.

z = "8" -----> integera çevirelim. Çevirdikten sonra beri tipinide yazdıralım.

a = "12" -----> floata çevirelim. Çevirdikten sonra beri tipinide yazdıralım.

b = "46.8" ------> integera çevirelim. Çevirdikten sonra beri tipinide yazdıralım.

In [13]:
x = 3
y = 3
z = "8"
a = "12"
b = "46.8"
x = float(x)
y = int(y)
z = int(z)
a = float(a)
b = int(float(b))
type(x)
type(y)
type(z)
type(a)
type(b)

int

# 2 
İsimlerden oluşan üç değişkene yaş değerleri atanır. Belirlenen üç değişken birbiriyle karşılaştırma operatörleri ile karşılaştırılır. Bu karşılaştırmalara mantıksal operatörler de eklenir.

In [8]:
ali = 49
veli = 50
taha = 23
taha < ali < veli

True

# 3
Kullanıcıdan iki değer girmesini istenir. Girilen değerlerin toplama, çıkarma, çarpma, bölme sonuçlarını yazdırılır.

In [14]:
x = int(input("x: "))
y = int(input("y: "))
print(f"x+y: {x+y}")
print(f"x-y: {x-y}")
print(f"x/y: {x/y}")
print(f"x*y: {x*y}")

x: 6
y: 3
x+y: 9
x-y: 3
x/y: 2.0
x*y: 18

# 4
Kullanıcıdan isim, yaş, şehir ve meslek bilgilerini istenir ve cevaplarını yazdırılır.

In [15]:
name = input("Name: ")
age = int(input("Age: "))
city = input("City: ")
job = input("Job: ")
print(name, age, city, job)

Name: taha
Age: 25
City: adana
Job: ogrenci
taha 25 adana ogrenci

# 5
"Hi-Kod Veri Bilimi Atölyesi" ifadesini bir değişkene tanımlanır.


 1. İfadedeki her bir kelimeyi ("Hi-Kod", "Veri", "Bilimi", "Atölyesi") değişken içinden seçilir. 
 2. İfadeyi hepsini büyük harf olacak hale çevrilir. ("HI-KOD VERİ BİLİMİ ATÖLYESİ") 
 3. İfadeyi hepsini büyük harf olacak hale çevrilir.("hi-kod veri bilimi atölyesi") 

"0123456789" ifadesindeki yalnızca çift sayıları ve yalnızca tek sayıları seçilir. ("02468", "13579")

In [21]:
data = "Hi-Kod Veri Bilimi Atölyesi"
kelime = data.split()
for i in kelime:
    print(i)
buyuk = data.upper()
kucuk = data.lower()

Hi-Kod
Veri
Bilimi
Atölyesi
hi-kod veri bilimi atölyesi

In [30]:
number = "0123456789"
odd = ""
even = ""
for i in number:
    if int(i) % 2 == 0:
        even += i
    else:
        odd += i
print(odd)
print(even)

13579
02468